<!DOCTYPE html>
<html>
    <head>
        <title>easy python problems</title>
    <style>
.padding {
  padding: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
    </style>
    </head>
<body>
    <div class="padding"><h1>
     Easy problems:
    
</h1> 
<p><ul>
  <li><a href="easy_python_problems/problem_1">Problem 01<a></li>
  <li>Problem 02</li>
  <li>Problem 03</li>
  <li>Problem 04</li>
  <li>Problem 05</li>
  <li>Problem 06</li>
  <li>Problem 07</li>
  <li>Problem 08</li>
  <li>Problem 09</li>
  <li>Problem 10</li>
  <li>Problem 11</li>
  <li>Problem 12</li>
  <li>Problem 13</li>
  <li>Problem 14</li>
  <li>Problem 15</li>
  <li>Problem 16</li>
  <li>Problem 17</li>
  <li>Problem 18</li>
  <li>Problem 19</li>
  <li>Problem 20</li>
</ul></div></p>  

</body>
</html>            
