<!DOCTYPE html>
<html>
    <head>
        <title>hard python problems</title>
    <style>
.padding {
  padding: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
    </style>
    </head>
<body>
    <div class="padding"><h1>
     Hard problems:
    
</h1> 
<p><ul>
  <li>Problem 41</li>
  <li>Problem 42</li>
  <li>Problem 43</li>
  <li>Problem 44</li>
  <li>Problem 45</li>
  <li>Problem 46</li>
  <li>Problem 47</li>
  <li>Problem 48</li>
  <li>Problem 49</li>
  <li>Problem 50</li>
  <li>Problem 51</li>
  <li>Problem 52</li>
  <li>Problem 53</li>
  <li>Problem 54</li>
  <li>Problem 55</li>
  <li>Problem 56</li>
  <li>Problem 57</li>
  <li>Problem 58</li>
  <li>Problem 59</li>
  <li>Problem 60</li>
  <li>Problem 61</li>
  <li>Problem 62</li>
  <li>Problem 63</li>
</ul></div></p>  

</body>
</html>            
