<!DOCTYPE html>
<html>
    <head>
        <title>easy python problems</title>
    <style>
.padding {
  padding: 70px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
    </style>
    </head>
<body>
    <div class="padding"><h1>
     Medium problems:
    
</h1> 
<p><ul>
  <li>Problem 21</li>
  <li>Problem 22</li>
  <li>Problem 23</li>
  <li>Problem 24</li>
  <li>Problem 25</li>
  <li>Problem 26</li>
  <li>Problem 27</li>
  <li>Problem 28</li>
  <li>Problem 29</li>
  <li>Problem 30</li>
  <li>Problem 31</li>
  <li>Problem 32</li>
  <li>Problem 33</li>
  <li>Problem 34</li>
  <li>Problem 35</li>
  <li>Problem 36</li>
  <li>Problem 37</li>
  <li>Problem 38</li>
  <li>Problem 39</li>
  <li>Problem 40</li>
</ul></div></p>  

</body>
</html>            
